* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.single-grid {
    height: 100dvh;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: #051c2c;
}